/* Global Variables */

:root {

  --mainFont: font-family: "Roboto", sans-serif;
  --secondaryFont: font-family: "Lato", sans-serif;

  --blue: #1073ba;
  --green: #00da55;
  --darkGray: #3b3b3b;
  --black: #000000;
  --white: #ffffff;
  --ligthGray: #e1e1e1;
  --ligthBlue: #ddeffb;
  --ligthGreen: #dbfde8;
}

/* Global Styles */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body{
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

h1 {
  font-size: 4.4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
  display: block;
}

/* utilities */

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

/* header */

.header img {
  width: 100%;
  height: auto;
}

.header {
  background: rgb(0, 0, 0);
  background: linear-gradient(148deg, rgba(0, 0, 0, 1) 0%, rgba(16, 115, 186, 1) 50%, rgba(0, 218, 85, 1) 100%);
  margin: 0;
}

.header-container{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 0;
}

.product-tagline,
.product-name{
  margin: 0;
}

.product-description{
  color: var(--ligthGreen);
}

.product-tagline{
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--ligthBlue);
  
}

.product-name{
  margin-bottom: 1rem;
  color: var(--white);
}

.product-price{
  color: var(--ligthBlue);
}
.product-price span{
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 700;
}

.image-header,
.content-header{
  flex-grow: 1;
  flex-basis: 50%;
}

@media (min-width: 768px) { 
  .header-container{
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  .product-description{
    color: var(--ligthGreen);
    max-width: 70%;
    font-size: 1.5rem;
  }
  
  .product-tagline{
    color: var(--ligthBlue);
    font-size: 1.2rem;
  }
  
  .product-name{
    color: var(--white);
    font-size: 6rem;
  }

  .product-price{
    
    font-size: 1.5rem;
  }
  .product-price span{
    font-size: 4.5rem;
  }
}

